/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Fira Sans", sans-serif;
    background-image: url('/assets/p2.png');   
    background-size: cover;
    background-position: center;
    
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, 
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, 
.nav-links{
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    margin-right: 70px;
    
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(0, 0, 0);
}

.logo img {
    width: 60px; 
    height: 80px;
   
    
}

.logo {
    font-size: 1.2rem;
    background-color:whitesmoke;
    background-size: cover;
    box-shadow: 5px 5px;
    margin-left: 60px;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
  }

.hamburger-menu{
    position: relative;
    display: inline-block;
    
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    
    right: 250%; 
    background-color: rgba(255, 255, 255, 0);
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;

}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(5px, 8px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(5px, -8px);
}

.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* PROFILE SECTION */

#profile{
    display: flex;
    justify-content: center;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 580px;
    width: 35%; 
    margin-right: 1%;
    margin-left: -8%;
   
}

.section__text{

    
    align-self: center;
    text-align: center;
}
    .section__text p {
        font-weight: 600;
        font-family: 'Fira Sans', sans-serif; /* Use Fira Sans for paragraphs */
    }
    
    .section__text__p1 {
        text-align: center;
        color: white;
        font-weight: 400; 
        font-family: 'Fira Sans', sans-serif; 
    }
    
    .section__text__p2 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        color: white;
        font-weight: 800; 
        font-family: 'Fira Sans', sans-serif; 
    }

    .section__text__p3 {
        font-size: 0.6rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
        color: rgb(0, 0, 0);
        font-weight: 400; 
        font-family: 'Fira Sans', sans-serif; 
        align-self: center;
        text-align: center;
    }

   
    
    .title {
        font-size: 3rem;
        text-align: center;
        color: white;
        font-weight: 900; 
        font-family: 'Fira Sans', sans-serif; 
    }
    .titles2 {
        font-size: 3rem;
        text-align: center;
        color: rgb(0, 0, 0);
        font-weight: 900; 
        font-family: 'Fira Sans', sans-serif; 
    }

#section-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 1.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(0, 0, 0) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.btn-color-1:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border: rgb(0, 0, 0) 0.1rem solid
}

.btn-container {
    gap: 1rem;
}



/* ABOUT SECTION */

#about {
    position: relative;
    background-color: white; /* Add white background */
    margin-top: 65px; 
    margin-bottom: 0px;    
}

.about-containers {
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    border-radius: 6rem;
    height: 360px;
    margin-top: 20%;
    margin-left: 15%;

  }
  
  .arrow {
    position: absolute;
    right: 4rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 3rem;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .section__pic-container1 {
    display: flex;
    
    width: 28%; 
    margin-right: 7%;
    margin-left: -4%;
  }
  

  /* SKILLS SECTION */


/* SKILLS SECTION */
#skills{
    position: relative;
    background-color: white; /* Add white background */
    height: 120vh;
}


.skills-sub-title {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.skills-details-container {
    display: flex;
    text-align: initial;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
   
}

.article-container {
    margin-top: 1rem; 
    
}


.article-container-secpage {
    margin-top: 1rem; 
    
}

article {
    margin-bottom: 1rem; 
    
    padding: 0.1rem;
}

article .icon {
    cursor: default;
}

.into-article h3 a {
    color: black;
   
}
.into-article p {
  margin-top: 1rem;
}

/* INTERESTS SECTION */

#int {
    position: relative;
    background-color: white; /* Add white background */  
    
       
}
.skills-details-container1 {
    display: flex;
    text-align: initial;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-left: 12%;
   
}

.color-container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.int-img{
    border-radius: 2rem;
    width: 90%;
    height:90%;
}

.int-title{
    margin: 1rem;
    color: black;
}

.int-btn{
    color: black;
    border-color: rgb(163, 163, 163);
}


/*FUTURE PAGE*/

#future {
    position: relative;
    background-color: white; /* Add white background */     
}

.future-container-img{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 5%;
    margin-top: 1rem;
    margin-left: 48px;
}



.icon {
    max-width: 100%;
    max-height: 100%;
}
.int-btn{
    color: black;
    border-color: rgb(200, 200, 200);
}
.btn-container1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 4.5%;
    margin-top: 4rem;
    width: 100%; 
    height: 200px; 
}
.color-container1{
    border-color: rgb(163, 163, 163);
    background: rgb(255, 255, 255);
}




/* FOOTER SECTION */

footer {
    height: 20vh;
    margin: 0 0rem;
    margin-left: 5.5%;
  }
  
  footer p {
    text-align: center;
    margin-right:70px;
   
  }

  /* WSU SECTION */

  #wsu {
    position: relative;
    background-image: url('/assets/wayne-state-university-48dw4qhl5klfm3y4.jpg');  
    background-size: cover;
    background-position: center;  
    height: 820px;   
}

 #previewsclasses{
    position: relative;
    background-color: white;
    height: 820px;
 }

 #lastone{
    position: relative;
    background-color: white; 
    height: 820px;  
 }
 .c-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

 .skills-details-container2 {
    display: flex;
    text-align: initial;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-left: 12%;
   
}

 .about-containers1 {
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 5rem;
    

  }

  
  .about-containers1,
  .about-details-container {
    display: flex;
  }

  


.description {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Position the description below the button */
    left: 0;
    width: 200px; /* Adjust as needed */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
}

.btn-container p{

    margin-top: auto;


}

.btn-container2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    
    gap: 1rem;
    flex-direction: column;
}


